/* FONTS
----------------------------------------------- */
html {
	-webkit-font-smoothing: antialiased;
}

@mixin Proxima-Light(){
  font-family: "proxima-nova",sans-serif;
	font-style: normal;
	font-weight: 300;
}

@mixin Proxima-Light-Italic(){
	font-family: "proxima-nova",sans-serif;
	font-style: italic;
	font-weight: 300;
}

@mixin Proxima-Bold(){
	font-family: "proxima-nova",sans-serif;
	font-style: normal;
	font-weight: 700;
}

@mixin Proxima-Bold-Italic(){
	font-family: "proxima-nova",sans-serif;
	font-style: italic;
	font-weight: 700;
}

@mixin Proxima-Norm(){
	font-family: "proxima-nova",sans-serif;
	font-style: normal;
	font-weight: 400;
}

@mixin Proxima-Norm-Italic(){
	font-family: "proxima-nova",sans-serif;
	font-style: italic;
	font-weight: 400;
}
