/* @TINYMCE OVERRIDES AND TEXT EDITOR STYLES
-------------------------------------------------------- */

.typography-invert a, 
.typography-invert p, 
.typography-invert h1, 
.typography-invert h2,
.typography-invert h3,
//.typography-invert h4,
.typography-invert h5,
.typography-invert h6,
.typography-invert ul li,
.typography-invert .quote,
.typography-invert .credit,
.typography-invert .futura-style
{
	color:white!important;	
}

.typography-invert h1 {
	font-size:30px!important;
	color:$directive!important;
}


#tinymce, .typography, .typography-invert {
	a { text-decoration: none; }
	p {
		color: $directive;
		@include font-size-copy(18px);
		margin-bottom: 42px;
		a {
			text-decoration: none;
		}
	}
	h1,h2,h3 {
		color:$directive;
		margin-bottom: 1px;
		margin-top: 30px;
		@include font-size(24px);
	}
	h3 {
		margin-bottom: 0px;
		@include font-size(18px);
	}
	h4,h5,h6 {
		margin-bottom: 6px;
		@include font-size(18px);
		color:$directive;
	}
	img, iframe {
		max-width: 100%;
		height:auto;
	}
	em {
	}
	ul {
		margin-bottom: 42px;
		li {
			color:$directive;
			list-style: none;
			list-style-position: inside;
			margin-bottom: 15px;
			@include font-size(18px);
		}
	}
	// custom classes
	h1.push { margin-bottom: 8px; }
	.poster {
		width: 100%;
		margin-bottom:18px;
		@include font-size(24px);
		text-transform: uppercase;
	}
	p.page-end {
		margin-bottom: 380px;
	}
	p.center{
		text-align: center;
	}
	p.quote, .quote {
		width: 80%;
		margin: 0 auto 18px auto;
		@include font-size-copy(15px);
		text-align: center!important;
	}
	p.credit, .credit{
		margin: 0 0 5px 0;
		@include font-size-copy(12px);
		color:#666;
	}
	p.image-credit, .image-credit{
		margin: 5px 0 14px 0;
		@include font-size-copy(11px);
		color:#666;
	}
	p.button a, .button a{
		@include font-size(12px);
		@include button($directive, #fff, 13px, "\203A");
		@include transition;
		text-decoration: none;
		&:hover {
			@include opacity(0.5);
		}
	}
}	


/* @MOBILE
-------------------------------------------------------- */


@include media-query(palm) { 
	
	#tinymce, .typography, .typography-invert {
		p {
			@include font-size-copy(16px);
			margin-bottom: 20px;
		}
		h1,h2,h3 {
			@include font-size(20px);
			margin-bottom: 1px;
			margin-top: 30px;
		}
		ul {
			margin-bottom: 36px;
			li {
				@include font-size(16px);
			}	
		}		
		.quote {
			width: 80%;
		}
	}	

}
