{% extends "base.html" %}

{% block title %}Error{% endblock %}

{% block content %}
<img src="https://s3-us-west-2.amazonaws.com/techforgoodtv/TFG_Hero_Still_1920.jpg" width="100%" height="auto">
<div class="errorsection">

    <div class="frontlogo">
        <img src="{{ STATIC_URL }}assets/logo/TFG_Logo-WhiteOverlay.png" class="mainlogo">
        <h2 class="errortitle">There is a 500 error</h2>

        <p class="errormain">Unfortunatelly there was an error while delivering the site. Our technical
        administrator have been notified about this error and will make sure that site is available soon.</p>
    </div>
</div>




{% endblock %}

