<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>{% block title %}{% endblock %}</title>
		
    <meta name="author" content=" website: Sam Hipwell samhipwell@gmail.com" />
    <meta name="copyright" content="website (c) Copyright Second Editions" />
    <meta name="robots" content="index">

		<!-- END Facebook Open Graph meta -->

    <!--[if lt IE 9]>
			<script type="text/javascript" src="{{ STATIC_URL }}assets/plugins/lt-ie9/html5.js"></script>
			<script type="text/javascript" src="{{ STATIC_URL }}assets/plugins/lt-ie9/respond.min.js"></script>
			<script type="text/javascript" src="{{ STATIC_URL }}assets/plugins/lt-ie9/excanvas.compiled.js"></script>
		<![endif]-->

    <!-- CORE CSS FRAMEWORK -->
		<link href="{{ STATIC_URL }}assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
		<link href="{{ STATIC_URL }}assets/plugins/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css" />
		<link href="{{ STATIC_URL }}assets/plugins/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css" />
		<link href="{{ STATIC_URL }}assets/css/animate.css" rel="stylesheet" type="text/css" />


    <!-- Latest compiled and minified CSS-->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/css/jasny-bootstrap.min.css">
    <!-- PLUGINS -->
		<link href="{{ STATIC_URL }}assets/plugins/jquery-owl-carousel/owl.carousel.css" rel="stylesheet" type="text/css" />
		<link href="{{ STATIC_URL }}assets/plugins/jquery-owl-carousel/owl.theme.css" rel="stylesheet" type="text/css" />
		<link href="{{ STATIC_URL }}assets/plugins/prettyPhoto/css/prettyPhoto.css" rel="stylesheet" type="text/css" />
		<link href="{{ STATIC_URL }}assets/plugins/jquery-bxslider/jquery.bxslider.css" rel="stylesheet" type="text/css" />
        <!--
		<link href="{{ STATIC_URL }}css/fullpage.css" rel="stylesheet" type="text/css" />
		-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

		<!-- CSS TEMPLATE -->
		<link href="{{ STATIC_URL }}assets/css/layout.css" rel="stylesheet" type="text/css" />



    {% block extra_css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}dist/css/screen.css" />
    {% endblock %}

    <!-- ICONS -->
		<link rel="shortcut icon" href="{{ STATIC_URL }}assets/images/favicon.png" type="image/x-icon" />
		<link rel="shortcut icon" href="{{ STATIC_URL }}assets/images/favicon.ico" type="image/x-icon" />

    <!-- mobile settings -->
		<meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />


    {% block extra_head %}{% endblock %}
</head>

<body class="project-name {% block bodyclass %}{% endblock %}" data-controller="page {% block controller %}{% endblock %}" data-leave-animation="{% block leave-animation %}{% endblock %}" data-enter-animation="{% block enter-animation %}{% endblock %}">{% block body %}

<div id="sitewrapper">
    {% block content %}{% endblock %}
</div>



    <!-- CORE JS FRAMEWORK-->
		<script type="text/javascript" src="{{ STATIC_URL }}assets/plugins/pace/pace.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}assets/plugins/jquery/jquery-1.10.2.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}assets/plugins/jquery/jquery-migrate-1.2.1.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}assets/plugins/jquery-easing/jquery.easing.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}assets/plugins/bootstrap/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}assets/plugins/isotope/jquery.isotope.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}assets/plugins/masonry.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}assets/plugins/smoothscroll.js"></script>
		<script async type="text/javascript" src="{{ STATIC_URL }}assets/plugins/modernizr.min.js"></script>
		<!-- /CORE JS FRAMEWORK-->

		<!-- PLUGINS -->
		<script type="text/javascript" src="{{ STATIC_URL }}assets/plugins/jquery-fitvids/jquery.fitvids.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}assets/plugins/jquery-appear/jquery.appear.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}assets/plugins/jquery-countTo/jquery.countTo.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}assets/plugins/nicescroll/jquery.nicescroll.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}assets/plugins/jquery-scrollto/jquery.scrollTo.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}assets/plugins/jquery-onepage-nav/jquery.nav.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}assets/plugins/jquery-owl-carousel/owl.carousel.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}assets/plugins/jquery-easy-pie-chart/jquery.easypiechart.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}assets/plugins/prettyPhoto/js/jquery.prettyPhoto.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}assets/plugins/jquery-stellar/jquery.stellar.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}assets/plugins/jquery-bxslider/jquery.bxslider.pack.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}assets/plugins/iscroll/iscroll.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}assets/plugins/jquery-zoom/jquery.zoom.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}assets/plugins/jquery-videoBG/jquery.videoBG.js"></script> <!-- video background -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<!-- video background -->

		<script type="text/javascript" src="{{ STATIC_URL }}assets/js/scripts.js"></script>
    <!-- fullscreen
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.fullPage.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.slimscroll.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.easings.min.js"></script>
 -->

    <!-- Latest compiled and minified JavaScript -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/js/jasny-bootstrap.min.js"></script>


{% block extra_js %}
{% comment %}<script data-main="{{ STATIC_URL }}js/main" src="{{ STATIC_URL }}js/require.js"></script>{% endcomment %}
{% endblock %}


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-3524333-36', 'auto');
  ga('send', 'pageview');

</script>

<!-- Prompt IE 6 users to install Chrome Frame. Remove this if you want to support IE 6.
       chromium.org/developers/how-tos/chrome-frame-getting-started -->
  <!--[if lt IE 7 ]>
    <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
    <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
  <![endif]-->

{% endblock %}</body>
</html>
