{% extends "base.html" %}
{% load webdesign %}

{% block title %}{{ fp.title }}{% endblock %}
{% block bodyclass %}index{% endblock %}

{% block extra_css %}
    <style>

        #sitewrapper{
            background-color:{{ fp.bgcolor }};
        }
        .bodyimg{
            width:100%;
            height:auto;
        }

        .carousel .item {-webkit-transition: opacity 3s; -moz-transition: opacity 3s; -ms-transition: opacity 3s; -o-transition: opacity 3s; transition: opacity 3s;}
        .carousel .active.left {left:0;opacity:0;z-index:2;}
        .carousel .next {left:0;opacity:1;z-index:1;}

        .fullpageitem{
            position: absolute;
            top:0;
            left:0;
            right:0;
            bottom:0;
            z-index:100;
            background-color:white;
            display: none;
        }

        .container {
            position: absolute;
            top: 50%;
            -moz-transform: translateX(-50%) translateY(-50%);
            -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
            width:100%;
            text-align: center;
        }
        .loadsection{
            display:none;
        }

        @media only screen
        and (min-device-width : 768px)
        and (max-device-width : 1024px)
        and (orientation : portrait)
        and (-webkit-min-device-pixel-ratio: 1)  {
            .bodyimg{
                width:auto;
                height:100%;
            }
        }


    </style>
{% endblock %}

{% block extra_js %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('.loadsection').fadeIn("slow");
            {% if fp.slide_delay %}
                $('.carousel').carousel({
                    interval: {{ fp.slide_delay }}
                });
            {% endif %}
            {% if fp.email_link %}
                $(function(){
                    $( "#sitewrapper" ).click(function(){
                        $('.loadsection').fadeOut("slow",function(){
                            window.location.replace('{% url 'contact' %}');
                        });
                    });
                });
            {% endif %}
        });
    </script>
{% endblock %}

{% block content %}
<div class="loadsection">
    <div id="carousel-iamges" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
                {% for item in obj %}
                        <div class="item {% if forloop.first %}active{% endif %}">
                            {% if item.svg %}
                                <img class="bodyimg" src="{{ MEDIA_URL }}{{ item.svg }}" alt="{{ item.title }}">
                            {% else %}
                                <img class="bodyimg" src="{{ MEDIA_URL }}{{ item.cover_image.object.file }}" alt="{{ item.cover_image.title }}">
                            {% endif %}
                            <div class="carousel-caption">
                            </div>
                        </div>
                {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
